<html !doctype>
<head>
<meta charset="utf-8">
<title> ejs 模板网站</title>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" >

</head>

<body>

<div class="btn btn-primary "> 按钮</div>

</body>
</html>