<% include ../header.html %>
    <% include ../navbar.html %>


        <div id="banner" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner" data-slide-to="0" class="active"></li>
                <li data-target="#banner" data-slide-to="1" class=""></li>
                <li data-target="#banner" data-slide-to="2"></li>
                <li data-target="#banner" data-slide-to="3" class=""></li>
                <li data-target="#banner" data-slide-to="4" class=""></li>
                <li data-target="#banner" data-slide-to="5"></li>

            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="//www.pantrysbest.com/system/city_slideshows/slide_images/000/000/586/original/%E8%BD%AE%E6%92%AD%E5%9B%BE-%E5%AE%98%E7%BD%91pc%E7%AB%AF.jpg?1483607246">

                </div>
                <div class="item">
                    <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="//www.pantrysbest.com/system/city_slideshows/slide_images/000/000/554/original/%E5%B0%8F%E7%86%8A%E7%BB%B4%E5%B0%BC%E7%BA%B8%E6%9D%AF-slideshow%E6%9B%B4%E6%94%B9.jpg?1480480972">

                </div>
                <div class="item ">
                    <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="//www.pantrysbest.com/system/city_slideshows/slide_images/000/000/511/original/%E5%AE%98%E7%BD%91slideshow.jpg?1474988341">

                </div>
                <div class="item"><img src="//www.pantrysbest.com/system/city_slideshows/slide_images/000/000/554/original/%E5%B0%8F%E7%86%8A%E7%BB%B4%E5%B0%BC%E7%BA%B8%E6%9D%AF-slideshow%E6%9B%B4%E6%94%B9.jpg?1480480972" alt=""></div>
                <div class="item"><img src="//www.pantrysbest.com/system/city_slideshows/slide_images/000/000/503/original/PCslideshow_%282%29.jpg?1474535173" alt=""></div>
                <div class="item"><img src="//www.pantrysbest.com/system/city_slideshows/slide_images/000/000/562/original/%E6%8A%B9%E8%8C%B6%E9%BB%91%E8%8A%9D%E9%BA%BB---%E5%AE%98%E7%BD%91PC%E8%BD%AE%E6%92%AD%E5%9B%BE.jpg?1479460314" alt=""></div>
            </div>

        </div>

        <div><span class="location"><a href="#"><i class="caret"></i>产品列表  </span></a>
        </div>

        <div class="container-fluid">
            <div class="col-md-2 col-xs-5 col-md-offset-1 col-xs-offset-1">
                <img class="img-responsive" src="//www.pantrysbest.com/system/product_categories/images/000/000/001/original/cupcakeset768.jpg?1408976312" alt="">
                <div class="product-title">
                    Cupcakes / 纸杯蛋糕
                </div>
            </div>
            <div class="col-md-2 col-xs-5 ">
                <img class="img-responsive" src="//www.pantrysbest.com/system/product_categories/images/000/000/001/original/cupcakeset768.jpg?1408976312" alt="">
                <div class="product-title">
                    Cupcakes / 纸杯蛋糕
                </div>

            </div>
            <div class="col-md-2 col-xs-5 col-xs-offset-1">
                <img class="img-responsive" src="//www.pantrysbest.com/system/product_categories/images/000/000/001/original/cupcakeset768.jpg?1408976312" alt="">
                <div class="product-title">
                    Cupcakes / 纸杯蛋糕
                </div>
            </div>
            <div class="col-md-2 col-xs-5">
                <img class="img-responsive" src="//www.pantrysbest.com/system/product_categories/images/000/000/001/original/cupcakeset768.jpg?1408976312" alt="">
                <div class="product-title">
                    Cupcakes / 纸杯蛋糕
                </div>
            </div>
            <div class="col-md-2 col-xs-5 hidden-xs">
                <img class="img-responsive" src="//www.pantrysbest.com/system/product_categories/images/000/000/001/original/cupcakeset768.jpg?1408976312" alt="">
                <div class="product-title">
                    Cupcakes / 纸杯蛋糕
                </div>
            </div>
        </div>

        <div class="location"><span><a href="#">新品推荐</span></a>

        </div>
        <div class="container">
            <div class="col-md-4 col-xs-6">
                <img src="</a>" alt="" class="img-responsive">
            </div>
            <div class="col-md-4 col-xs-6"></div>
            <div class="col-md-4 col-xs-6"></div>
            <div class="col-md-4 col-xs-6"></div>
        </div>

        <% include ../footer.html %>