/*导航栏背景*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.navbar-default {
    background: url(//www.pantrysbest.com/assets/christmas-bg-06297b0446b04a61a5a68a6e3f13b7cb.png) no-repeat;
    border: none;
    background-size: cover;
}

.navbar-brand img {
    height: 25px;
    margin-top: -4px;
}

.navbar-nav a {
    background: transparent !important;
    color: #fff !important;
}

.navbar-nav .dropdown .dropdown-menu a {
    color: #000 !important;
}

.dropdown-menu a:hover {
    background: gray !important;
}